@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root{
    --bg-color: #808080;
    --text-color: white;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    
    padding: 10rem 9% ;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}


.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    
}
.left h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 2;
    align-items: center;
}
.left h2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.navbar a:hover{
    color: black;
}




.link_container a{
    
}
.link_container img{
    width: 5rem;
}
#title-box {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    max-width: 800px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-top: 20px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="number"],
.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input[type="file"] {
    cursor: pointer;
}

button[type="submit"] {
    background-color: #555;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
    text-align: center;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #444;
}

#footer {
    position: relative;
    text-align: center;
    bottom: 0;
    background-color: var(--bg-color);
    color: #fff;
    padding: 20px;
    width: 100%;
}
.right h1{
    align-items: center;
    position:sticky
}
