/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Main header styles */
header {
    padding: 20px 0;
}

/* Forms global styling */
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#register-form,
#login-form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 12px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Enhance the look of the footer */
footer {
    padding: 20px 0;
    background-color: #333;
}

/* Adding responsive tweaks for better display on mobile devices */
@media (max-width: 576px) {
    .form-container {
        margin: 20px 15px;
    }

    header {
        padding: 15px 0;
    }
}

body#index {
    background-image: url('background1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.homepage{
    background-image: url('background1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
body#login, body#register {
    background-image: url('background2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Gives a slight opacity to the container */
    padding: 20px;
    border-radius: 5px;
}

